# Sanity (public)
PUBLIC_SANITY_PROJECT_ID=ix45pdgt
PUBLIC_SANITY_DATASET=production

# Sanity (private - do NOT expose to client)
SANITY_API_TOKEN=skPrpEroXPgxzZyIMVjfHtTMimNsHibiuGa8lPod6WMVrruQr43tPKxA3y5zCkmqP4NZoWld8wXlqncTVRaQ7RDRxO6rxz74tkINLR5LbwouzIbqCMXXdxIRBov1zAKXowRxHm0GNCX6YD2IxdIOPIJZ213sImPhSFCB0WcFKA15QhoUVE6b