---
import { experience } from '../../data/content';
import ExperienceCard, { type ExperienceItem } from '../Experience/ExperienceCard.astro';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="experience">
  <h2>{t('experience.title')}</h2>
  <ul class="timeline">
    {
      experience.map((exp: any) => {
        const experienceItem: ExperienceItem = exp[lang];
        return (
          <li class="timeline-item">
            <ExperienceCard {...experienceItem} />
          </li>
        );
      })
    }
  </ul>
</section>

<style>
  #experience {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .timeline {
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: 14px;
        top: 0;
        bottom: 0;
        width: 2px;
        background-color: var(--primary-color);
      }
      .timeline-item {
        position: relative;
        margin-bottom: 20px;
        padding-left: 40px;
        &:before {
          content: '';
          position: absolute;
          left: 10px;
          top: 5px;
          width: 10px;
          height: 10px;
          background-color: var(--primary-color);
          border-radius: 50%;
        }
      }
    }
  }
</style>