---
import { defaultLang } from '../i18n/ui';
---
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/es/" />
    <link rel="canonical" href={`/${defaultLang}/`} />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href="/es/">Spanish version</a>...</p>
  </body>
</html>