<footer>
  <p>&copy; 2025 Stron <a href="https://portfolio.stron.me">Contacto</a></p>
</footer>

<style>
  footer {
    text-align: center;
    padding: 20px;
    color: var(--text-color);
    a {
      color: var(--primary-color);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: currentColor;
      }
    }
  }
</style>
